<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810205243995-3cqrj5iumrb3aec8snivd1l2a1l5v7g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810205243995-3cqrj5iumrb3aec8snivd1l2a1l5v7g9</string>
	<key>API_KEY</key>
	<string>AIzaSyD8wznXz8dK_Pn_0njWvre4akyVbhQ4-CI</string>
	<key>GCM_SENDER_ID</key>
	<string>810205243995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surachet.skyzwing.Billing--row-house</string>
	<key>PROJECT_ID</key>
	<string>row-house-billing</string>
	<key>STORAGE_BUCKET</key>
	<string>row-house-billing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810205243995:ios:e6c5423764442c5a9b6d7e</string>
	<key>DATABASE_URL</key>
	<string>https://row-house-billing.firebaseio.com</string>
</dict>
</plist>