<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240712297584-3d2em4kqdvfmnhnaph3phhljgtucp8qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240712297584-3d2em4kqdvfmnhnaph3phhljgtucp8qv</string>
	<key>API_KEY</key>
	<string>AIzaSyA532J647yT-41Y6p0RxWYmzJ0BHdioVss</string>
	<key>GCM_SENDER_ID</key>
	<string>240712297584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>surachet.skyzwing.Billing-Apartment</string>
	<key>PROJECT_ID</key>
	<string>billing-apartment</string>
	<key>STORAGE_BUCKET</key>
	<string>billing-apartment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240712297584:ios:4bed3b3d1c829ce0cb18b5</string>
	<key>DATABASE_URL</key>
	<string>https://billing-apartment.firebaseio.com</string>
</dict>
</plist>